# Maven
target/
**/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
*.class

# ===== Java / JVM =====
*.class
*.log


# Package files
*.jar
*.war
*.ear
*.nar

# JVM crash logs
hs_err_pid*

# ===== IDEs =====
# IntelliJ
.idea/
*.iml
*.iws
*.ipr

# Eclipse
.project
.classpath
.settings/
*.project
.vscode

# Log files
*.log

# Frontend
frontend/node_modules/
frontend/dist/
frontend/coverage/
frontend/.angular/
karma.xml
test-results

# macOS
.DS_Store

# Other
*.swp
*~
launch.json
setting.json
*.class
log.txt

# Keycloak certificates
ops/certs/keycloak/*.key
ops/certs/keycloak/*.crt
