<head>
  <meta http-equiv="refresh" content="5; url=/" />
</head>
<body>
  <div class="grid-container">
    <div class="grid-row">
      <div class="grid-col-12">
        <div class="usa-alert usa-alert--info">
          <div class="usa-alert__body">
            <h3 class="usa-alert__heading">You have been logged out</h3>
            <p class="usa-alert__text">You have been successfully logged out of the application. You will be redirected to the login page in 5 seconds.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
